
body {
  background-color: #0e1117;
  color: #F5F5F0;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 10px;
}

.viridis-gradient {
  background: linear-gradient(90deg, #440154 0%, #3b528b 25%, #21918c 50%, #5ec962 75%, #fde725 100%);
}

.cividis-gradient {
  background: linear-gradient(90deg, #00204d 0%, #414d6b 33%, #7d7c78 66%, #ffea46 100%);
}
